@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #b3b3b3 #050505;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #050505;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 0px;
    border: 0px solid #b3b3b3;
  }
